# Установить конец строки для всех файлов в репозитории
* text=auto

# Установить конец строки для Python файлов
*.py text eol=lf

# Установить конец строки для файлов конфигурации
*.env text eol=lf
*.gitignore text eol=lf